#imgurl2{
    background-image: url("https://conteudo.imguol.com.br/p/pp/2014/assistencia-tecnica/dicas/tecla_PrtSc_SysRq_531x306.jpg");
    min-height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
}